ion-slides {
  height: 200px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.fotoMensaje {
  display: flex;
}

.carta {
  border: 1px solid;
}

.title {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-top: 5px;
}
