<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title id="title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="top">
      <div class="front">
        <div class="header">
          <div class="icon">
            <i class="ri-settings-2-line" (click)="updateUser()"></i>
          </div>
          <div class="title">Driver</div>
          <div class="icon">
            <i class="ri-delete-bin-line" (click)="deleteUser()"></i>
          </div>
        </div>
        <div class="date">Junio, 21, 2021</div>
      </div>
    </div>
    <div class="bottom">
      <div class="profile">
        <div class="image"></div>
        <div class="status">
          <div class="name">
            {{user.p_nombre}} {{user.s_nombre}} {{user.apellido_p}}
            {{user.apellido_m}}
          </div>
          <div class="paragraphe">
            <i>{{user.rut}}</i>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-treasure-map-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Direccion:</div>
            <div class="subhead">{{user.direccion}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-flag-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Nacionalidad:</div>
            <div class="subhead">{{user.nacionalidad}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-men-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Sexo:</div>
            <div class="subhead">{{user.sexo}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-calendar-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Fecha nacimiento:</div>
            <div class="subhead">{{user.fecha_nac}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-mail-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Correo:</div>
            <div class="subhead">{{user.correo}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />
</ion-content>
