<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title id="title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="top">
      <div class="front">
        <div class="header">
          <div class="icon">
            <i class="ri-settings-2-line" (click)="updateUser()"></i>
          </div>
          <div class="title">Driver</div>
          <div class="icon">
            <i class="ri-delete-bin-line" (click)="deleteUser()"></i>
          </div>
        </div>
        <div class="date">{{now}}</div>
      </div>
    </div>
    <div class="bottom">
      <div class="profile">
        <div class="image" id="img"></div>
        <div class="status">
          <div class="name">
            {{userInfo.p_nombre}} {{userInfo.s_nombre}} {{userInfo.p_apellido}}
            {{userInfo.s_apellido}}
          </div>
          <div class="paragraphe">
            <i id="estado">{{setEstado}}</i>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-fingerprint-2-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Rut:</div>
            <div class="subhead">{{userInfo.Rut_Rep}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-flag-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Nacionalidad:</div>
            <div class="subhead">{{userInfo.Nacionalidad}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-men-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Genero:</div>
            <div class="subhead">{{userInfo.Genero}}</div>
          </div>
        </div>
        <div class="list-item">
          <div class="left-icon">
            <i class="ri-mail-line"></i>
          </div>
          <div class="list-right">
            <div class="list-title">Correo:</div>
            <div class="subhead">{{userInfo.Correo}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    rel="stylesheet"
  />
</ion-content>
