<ion-content [fullscreen]="true">
    <div class="titulo ion-no-padding">

            <ion-col>
                <h2 class="ion-text-capitalize">ingresa tu numero telefonico</h2>
            </ion-col>

    </div>
    <div class="container-fluid">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-row class="inicioSesion">
                        <ion-img id="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Flag_of_Chile_%281818-1854%29.svg/220px-Flag_of_Chile_%281818-1854%29.svg.png"></ion-img>
                        <ion-input class="numeroTelefono" type="text" placeholder=" Numero telefonico">+56</ion-input>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" color="dark">
                        Continuar
                        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                    </ion-button>                          
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h6 class="text1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequuntur doloremque dolore corrupti unde odit provident dicta eos repellendus ipsa.</h6>
                    <h6 class="ion-text-center">-------------------------------- Or --------------------------------</h6>
                </ion-col>
            </ion-row> 
            <ion-row>
                <ion-col>
                    <ion-button class="boton-facebook" expand="full" color="tertiary" href="">
                        <ion-icon slot="start" name="logo-facebook"></ion-icon>
                        Continuar con Facebook
                    </ion-button>
                    <ion-button class="boton-google" expand="full" color="light" href="">
                        <ion-icon slot="start" name="logo-google"></ion-icon>
                        Continuar con Google
                    </ion-button>
                </ion-col>
            </ion-row> 
        </ion-grid>
    </div>
</ion-content>