.inicioSesion {
    display: flex;
    align-items: center;
}

.inicioSesion div {
    width: 20%;
    border: solid 1px black;
}

.numeroTelefono {
    border: solid 1px black;
    background-color: #e2e3e6;
}

.boton-facebook {
    border: solid 1px black;
    border-radius: 11px
}

.boton-google {
    border: solid 1px black;
    border-radius: 11px
}