// .errors {
//     font-size: small;
//     color: #fff;
//     background: var(--ion-color-danger);
//     padding-left: 15px;
//     padding-top: 5px;
//     padding-bottom: 5px;
// }

// #flag {
//     width: 20%;
//     border: solid 1px black;
//     margin-right: 5%;
// }

// .numeroTelefono {
//     border: solid 1px black;
//     background-color: #e2e3e61f;
// }

// .boton-google {
//     margin-top: 10px;
//     border: solid 1px black;
// }

// .boton-facebook {
//     margin-top: 10px;
//     border: solid 1px black;
// }

// .boton-correo {
//     border: solid 1px black;
// }

// .text1 {
//     font-size: small;
// }

// .titulo {
//     margin-bottom: 2%;
//     width: fit-content;
//     height: 7%;
//     margin-left: 2%;
//     margin-top: -2%;
// }

// .container {
//     margin-top: 10%;
// }

// .center {
//     text-align: center;
// }

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#flag {
    width: 20%;
    border: solid 1px black;
    margin-right: 5%;
}

.numeroTelefono {
    border: solid 1px black;
    background-color: #e2e3e61f;
    border-radius: 15px;
}

.boton-google {
    margin-top: 10px;
    border: solid 1px black;

}

.boton-facebook {
    margin-top: 10px;
    border: solid 1px black;

}

.boton-correo {
    border: solid 1px black;

}

.text1 {
    font-size: small;
}

.titulo {
    margin-bottom: 2%;
    width: fit-content;
    height: 7%;
    margin-left: 2%;
    margin-top: -2%;
}

.container {
    margin-top: 10%;
}

.center {
    text-align: center;
}