<ion-content [fullscreen]="true">
    <div class="titulo ion-no-padding">

        <ion-col>
            <h2 class="ion-text-capitalize">ingresa tu numero telefonico</h2>
        </ion-col>

    </div>


    <div class="container-fluid">
        <ion-grid>
            <form (ngSubmit)="ingreso()">
                <ion-row class="inicioSesion">
                    <ion-img id="flag"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Flag_of_Chile_%281818-1854%29.svg/220px-Flag_of_Chile_%281818-1854%29.svg.png">
                    </ion-img>
                    <ion-input class="numeroTelefono" type="text" placeholder=" Numero telefonico">+56</ion-input>
                </ion-row>                
                <ion-row>
                    <ion-col>
                        <ion-input class="numeroTelefono" type="text" placeholder=" Correo electronico"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-input class="numeroTelefono" type="text" placeholder=" Contraseña"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button expand="full" shape="round" color="dark" type="submit">
                            Continuar
                            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
            
            <!-- <ion-row>
                <ion-col>
                    <ion-row class="inicioSesion">
                        <ion-img id="flag"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Flag_of_Chile_%281818-1854%29.svg/220px-Flag_of_Chile_%281818-1854%29.svg.png">
                        </ion-img>
                        <ion-input class="numeroTelefono" type="text" placeholder=" Numero telefonico">+56</ion-input>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button expand="full" color="dark" type="submit">
                        Continuar
                        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col>
                   <!-- <h6 class="ion-text-center">-------------------------------- Or --------------------------------
                    </h6> !-->
                    <hr  size="8px" color="grey" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="forma = !forma" class="boton-correo" expand="full" color="secondary" shape="round">
                        <ion-icon slot="start" name="mail-outline"></ion-icon>
                        Continuar con Correo Electronico
                    </ion-button>
                    <div id="form" *ngIf="forma">
                        <form [formGroup]="credentialForm">
                            <ion-item>
                                <ion-input placeholder="Correo Electronico" formControlName="email" autofocus="true"
                                    clearInput="true">
                                </ion-input>
                            </ion-item>
                            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                                <span *ngIf="email.errors?.required">El correo electronico es requerido</span>
                                <span *ngIf="email.errors?.email">El correo es invalido</span>
                            </div>
                            <ion-item>
                                <ion-input placeholder="Contraseña" type="password" formControlName="password"
                                    clearInput="true">
                                </ion-input>
                            </ion-item>
                            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                                <span *ngIf="password.errors?.required">La contraseña es requerida</span>
                                <span *ngIf="password.errors?.minlength">La contraseña necesita un minimo de 6
                                    caracteres</span>
                            </div>
                        </form>
                        <div class="center">
                            <ion-button class="signUp" (click)="signUp()" expand="round">Registrarse</ion-button>
                            <ion-button class="signIn" (click)="signIn()" expand="round" color="secondary">Ingresar
                            </ion-button>
                        </div>
                    </div>
                    <ion-button class="boton-facebook" expand="full" color="tertiary" href="" shape="round">
                        <ion-icon slot="start" name="logo-facebook"></ion-icon>
                        Continuar con Facebook
                    </ion-button>
                    <ion-button class="boton-google" expand="full" color="light" href="" shape="round">
                        <ion-icon slot="start" name="logo-google"></ion-icon>
                        Continuar con Google
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>