*{
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
}

.contenedorFormulario {
    display: flex;
    justify-content: center;
}

form{
    width: 95%;
    position: absolute;
    margin-top: 20px;
    // padding: 10px;

    div{
        padding: 10px;
    }
}


// input {
//     padding: 0 !important;
//     margin: 0 !important;
// }
.campoBotones{
    width: 100%;
    bottom: 10px;
    z-index: 21;
    display: flex;
    justify-content: center;
}

.fixed {
    position: fixed;
}

.col-center {
    // display: flex;
    // justify-content: center;
    // margin: 0;
    ion-button {
        width: 90%;
    }
}

.anchoMa1ximo{
    // min-width: 100% !important;
}

.mostrarContraseñaCampo{
    margin: auto;
    text-align: center;

    .mostrarContraseña{

        font-size: 35px;
    }
}

.inputs{
    background-color: #E7E7E7;
    border: 1px solid #909090;
    border-radius: 10px;
    padding: 12px 10px !important;
    
}

// PROXIMAMENTE A BORRAR
.formularioUno{
    position: absolute;
    // right: 100%;
    width: 100%;
    z-index: 1;
}

// PROXIMAMENTE A BORRAR
// Comentado
.formularioDos{
    position: absolute;
    // right: 0%;
    right: 100%;
    padding: 35px;
    min-width: 100% !important;
    h3 {
        font-size: 25px;
    }
    z-index: 22;
}

.formularioTres{
    position: absolute;
    // right: 100%;
    width: 100%;
}

.formularioCuatro {
    position: absolute;
    // right: 100%;
    width: 100%;
    padding: 35px;
    min-width: 100% !important;
    h3 {
        font-size: 22px;
    }
    ion-col{
        margin-bottom: 10px;
    }
}

// Comentado
// PROXIMAMENTE A BORRAR
.formularioCinco {
    position: absolute;
    right: 100%;
    width: 100%;
    // padding: 20px;
    
}

// Comentado
// PROXIMAMENTE A BORRAR
.formularioSeis {
    position: absolute;

    h4 {
        font-size: 18px;
    }
}
// Formulario pagina 1

// No se usa
.registerBackground{
    position: fixed;
    z-index: 1;
}     

.campo{
    background-color: #fff;
    // height: 50px;
    height: 21%;
    // padding: 30px 20px;
    position: fixed;
    z-index: 11;
    bottom: 0;
    width: 100%;

    ion-col{
        margin: auto;

        
    }    
}    

// Formulario pagina 2

.campoCodigos {
    margin: 30px 0;
}
.inputCodigo{
    max-width: 48px;
    text-align: center;
}



// Formulario pagina 3

.datosUsuario{
    padding: 0 35px;
    
    ion-row{
        margin-bottom:10px;
    }
}

ion-select{
    width: 100%;
}


// Formulario 5
.detallePedido{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    background-color: #E7E7E7;
    margin-top: 25px;

    ion-icon {
        width: 10%;
        font-size: 25px;
        border-right: 1px solid #909090;
    }
    ion-input {
        width: 80%;
        border: none;
    }
}


.oculta {
    right: 120%;
}

