<ion-content>
  <ion-grid>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">

      <!-- Inicio formulario 1 -->
      <div class="formularioUno">
        <ion-row class="filaFondo">
          <ion-col size="12" class="registerBackground">
            <img src="./../../../assets/images/fondoComida.jpeg" alt="">
          </ion-col>
        </ion-row>
        <ion-row class="campo">
          <ion-col size="10">
            <ion-input class="inputs" formControlName="telefono"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="campoBotones fixed">
          <ion-col size="5" offset="1" class="col-center">
            <ion-button (click)="antPagina('formularioUno sdf')">Default</ion-button>
          </ion-col>
          <ion-col size="5" offset="1" class="col-center">
            <ion-button (click)="sigPagina('formularioUno')">Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <!-- Fin formulario 1 -->

      <!-- Inicio formulario 2 -->
      <!-- <div class="formularioDos">
        <ion-row>
          <ion-col size="12">
            <h3>Ingrese el codigo de 4 digitos que se le envió al x xxxx xxxx</h3>
          </ion-col>
        </ion-row>
        <ion-row class="campoCodigos">
          <ion-col size="3">
            <ion-input class="inputs inputCodigo"></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input class="inputs inputCodigo"></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input class="inputs inputCodigo"></ion-input>
          </ion-col>
          <ion-col size="3">
            <ion-input class="inputs inputCodigo"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button expand="block">
              No recibi el codigo
            </ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row class="campoBotones">
          <ion-col size="6">
            <ion-button>Default</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button>Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </div> -->
      <!-- Fin formulario 2 -->

      <!-- Inicio formulario 3 -->
      <div class="formularioTres oculta">

        <div class="datosUsuario">
          <ion-row>
            <ion-col size="11">
              <label for="">Rut</label>
              <ion-input class="inputs" type="text" formControlName="rut" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Primer Nombre</label>
              <ion-input class="inputs" type="text" formControlName="nombreP" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Segundo Nombre</label>
              <ion-input class="inputs" type="text" formControlName="nombreS" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Apellido Paterno</label>
              <ion-input class="inputs" type="text" formControlName="apellidoP" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Apellido Materno</label>
              <ion-input class="inputs" type="text" formControlName="apellidoM" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Sexo</label>
              <ion-input class="inputs" type="text" formControlName="sexo" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <!-- fecha de nacimiento -->
            <ion-col size="11">
              <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime display-format="MM.DD.YYYY HH:mm"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Nacionalidad</label>
              <ion-item>
                <ion-select class="inputs" formControlName="nacionalidad">
                  <ion-select-option value="brown">Veneco</ion-select-option>
                  <ion-select-option value="blonde">Colombiano</ion-select-option>
                  <ion-select-option value="black">Peruano</ion-select-option>
                  <ion-select-option value="red">Boliviano</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="11">
              <label for="">Correo</label>
              <ion-input class="inputs" type="text" formControlName="correo" placeholder="Awesome Input"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="campoBotones">
            <ion-col size="5" class="col-center">
              <ion-button (click)="antPagina('formularioTres')">Default</ion-button>
            </ion-col>
            <ion-col size="5" class="col-center">
              <ion-button (click)="sigPagina('formularioTres')">Siguiente</ion-button>
            </ion-col>
          </ion-row>

        </div>
      </div>
      <!-- Fin formulario 3 -->

      <!-- Inicio formulario 4 -->
      <div class="formularioCuatro oculta">
        <ion-row>
          <ion-col size="12">
            <h3>Crea tu contraseña</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p>Las contraseñas deben tener un minimo de 8 caracteres, e incluir al menos una letra y un número</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            <ion-input class="inputs" type="password" formControlName="contrasenia" placeholder="Awesome Input">
            </ion-input>
          </ion-col>
          <ion-col size="2" class="mostrarContraseñaCampo">
            <ion-icon class="mostrarContraseña" name="eye"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="campoBotones">
          <ion-col size="5" offset="1" class="col-center ">
            <ion-button expand="block"  (click)="antPagina('formularioCuatro')">Default</ion-button>
          </ion-col>
          <ion-col size="5" offset="1" class="col-center ">
            <ion-button expand="block" >Registrarse</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <!-- Fin formulario 4 -->

      <!-- Inicio formulario 5 -->
      <!-- <div class="formularioCinco">
        <ion-row>
          <ion-col size="12">
            <ion-header>
              <ion-toolbar>
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
              
                <ion-title>Detalles del pedido</ion-title>
              </ion-toolbar>
            </ion-header>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10" offset="1">
            <div class="detallePedido">
              <ion-icon name="search-outline"></ion-icon>
              <ion-input class="inputs" type="text" placeholder="Awesome Input"></ion-input>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="campoBotones">
          <ion-col size="5" offset="1">
            <ion-button>Volver</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button>Siguiente</ion-button>
          </ion-col>
        </ion-row>
      </div> -->
      <!-- Fin formulario 5 -->

      <!-- Inicio formulario 6 -->
      <!-- <div class="formularioSeis">

        <ion-row>
          <ion-col size="12">
            <ion-header>
              <ion-toolbar>
                <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
              
                <ion-title>Detalles del pedido</ion-title>
              </ion-toolbar>
            </ion-header>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10" offset="1">
            <h4>Rio sin agua, San Puente Alto, Region Metropolitana, Chile</h4>
          </ion-col>
        </ion-row>

        <ion-row class="campoBotones">
          <ion-col size="5" offset="1">
            <ion-button>Volver</ion-button>
          </ion-col>
          <ion-col size="5">
            <ion-button>Siguiente</ion-button>
          </ion-col>
        </ion-row>

      </div> -->
      <!-- Fin formulario 6 -->

    </form>
  </ion-grid>
</ion-content>