.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 50%;
}

.title {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-top: 5px;
}
